<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,285},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,569},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,853},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,1137},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,1421},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_atk.png</string>
            <key>size</key>
            <string>{226,1704}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:901007dec5d9da4e47b29fc7871e5ee9:9372814b64c9f2a842a198b79499bbca:c83cc7a81df7fed7d3c3cb8d6486e476$</string>
            <key>textureFileName</key>
            <string>fx_atk.png</string>
        </dict>
    </dict>
</plist>
