<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,1},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>10(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{227,569},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{453,569},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{679,569},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>13(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,853},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>14(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{227,853},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>15(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{453,853},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>16(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{679,853},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>17(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,1137},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>18(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{227,1137},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>19(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{453,1137},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{227,1},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>20(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{679,1137},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>21(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,1421},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>22(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{227,1421},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>23(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{453,1421},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>24(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{679,1421},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>25(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,1705},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>26(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{227,1705},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>27(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{453,1705},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>28(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{679,1705},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{453,1},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{679,1},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,285},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{227,285},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{453,285},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{679,285},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{224,282}</string>
                <key>spriteSourceSize</key>
                <string>{224,282}</string>
                <key>textureRect</key>
                <string>{{1,569},{224,282}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_skill1.png</string>
            <key>size</key>
            <string>{904,1988}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:162e7887bb8c870e8e1fe3772e3b8b9f:d2d9bb929ffcd1c3904d6afbd221be1b:0cd67468cf46a220ee2df40ad4fc3fc0$</string>
            <key>textureFileName</key>
            <string>fx_skill1.png</string>
        </dict>
    </dict>
</plist>
