<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{1,1},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{640,1},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{1,855},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(18).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{640,855},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idleRed.png</string>
            <key>size</key>
            <string>{1278,1708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8d2f8a69ef0add8d5c5b3beb87ede161:584a131b93a0d20766b8c872a92e1b87:e57d90a0c54d3647d2b787bbd194cea9$</string>
            <key>textureFileName</key>
            <string>idleRed.png</string>
        </dict>
    </dict>
</plist>
