<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{1279,1},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>11(42).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{1,855},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>12(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{640,855},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{1279,1},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{1,1},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{637,852}</string>
                <key>spriteSourceSize</key>
                <string>{637,852}</string>
                <key>textureRect</key>
                <string>{{640,1},{637,852}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill22-1.png</string>
            <key>size</key>
            <string>{1917,1708}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:da911412c91cc7ad7168995efce1a69f:66dca4dae3786a1dac2d0aba30f191cc:cbdc6db18badb12c60c5b6e5d6f13200$</string>
            <key>textureFileName</key>
            <string>skill22-1.png</string>
        </dict>
    </dict>
</plist>
