<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{0,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{528,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1056,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1584,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{2112,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{2640,0},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{0,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0008 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{528,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1056,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0010 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1584,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{2112,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0012 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{2640,594},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{0,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0014 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{528,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1056,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0016 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1584,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0017 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{2112,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0018 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{2640,1188},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0019 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{0,1782},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0020 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{528,1782},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0021 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1056,1782},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0022 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{528,594}</string>
                <key>spriteSourceSize</key>
                <string>{528,594}</string>
                <key>textureRect</key>
                <string>{{1584,1782},{528,594}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_15_projectile.png</string>
            <key>size</key>
            <string>{3168,2376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9415f7b1aae74bd903114d2d306b1c5b:a3c362ddb15be7eef5707b7671c0f77d:1cd5988bcf66484382dcd3416a343cbb$</string>
            <key>textureFileName</key>
            <string>skill_15_projectile.png</string>
        </dict>
    </dict>
</plist>
