<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,20}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(12).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,20}</string>
                <key>spriteSize</key>
                <string>{62,59}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,62},{62,59}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,18}</string>
                <key>spriteSize</key>
                <string>{62,55}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,123},{62,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-13,20}</string>
                <key>spriteSize</key>
                <string>{64,59}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,242},{64,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-8,21}</string>
                <key>spriteSize</key>
                <string>{60,61}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,180},{60,61}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atk.png</string>
            <key>size</key>
            <string>{64,307}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a25716d2918ee12e788b1d06921fa32a:33a60014aa463f92f0a380ac6c6fae23:161bb8e8e5d13d624c660b9bcb3183a7$</string>
            <key>textureFileName</key>
            <string>atk.png</string>
        </dict>
    </dict>
</plist>
