<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,917}</string>
                <key>spriteSourceSize</key>
                <string>{874,917}</string>
                <key>textureRect</key>
                <string>{{1,1},{874,917}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,917}</string>
                <key>spriteSourceSize</key>
                <string>{874,917}</string>
                <key>textureRect</key>
                <string>{{877,1},{874,917}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,917}</string>
                <key>spriteSourceSize</key>
                <string>{874,917}</string>
                <key>textureRect</key>
                <string>{{1,920},{874,917}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{874,917}</string>
                <key>spriteSourceSize</key>
                <string>{874,917}</string>
                <key>textureRect</key>
                <string>{{877,920},{874,917}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>3008_Chimera_Idle-0.png</string>
            <key>size</key>
            <string>{1752,1838}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1d48c023fd45e823b8b9bd2c553f1c37:ffdd1134d7c177c60bad6d3548f3777d:ec13dc28f093e306cedb280f3f0eb261$</string>
            <key>textureFileName</key>
            <string>3008_Chimera_Idle-0.png</string>
        </dict>
    </dict>
</plist>
