<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(5) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,458}</string>
                <key>spriteSourceSize</key>
                <string>{437,458}</string>
                <key>textureRect</key>
                <string>{{1,1},{437,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(5) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,458}</string>
                <key>spriteSourceSize</key>
                <string>{437,458}</string>
                <key>textureRect</key>
                <string>{{440,1},{437,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(8) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,458}</string>
                <key>spriteSourceSize</key>
                <string>{437,458}</string>
                <key>textureRect</key>
                <string>{{1,461},{437,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(8) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,458}</string>
                <key>spriteSourceSize</key>
                <string>{437,458}</string>
                <key>textureRect</key>
                <string>{{440,461},{437,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(5) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,458}</string>
                <key>spriteSourceSize</key>
                <string>{437,458}</string>
                <key>textureRect</key>
                <string>{{1,921},{437,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(5) (Copy).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{437,458}</string>
                <key>spriteSourceSize</key>
                <string>{437,458}</string>
                <key>textureRect</key>
                <string>{{440,921},{437,458}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_skill1.png</string>
            <key>size</key>
            <string>{878,1380}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d5d9b10f61a98958aaf21386e8e29aa:dd860cbbbbc756876b3cef03c2ea4c39:0cd67468cf46a220ee2df40ad4fc3fc0$</string>
            <key>textureFileName</key>
            <string>fx_skill1.png</string>
        </dict>
    </dict>
</plist>
