<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>skill1_fx04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{774,879}</string>
                <key>spriteSourceSize</key>
                <string>{774,879}</string>
                <key>textureRect</key>
                <string>{{1,1},{774,879}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill1_fx05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{774,879}</string>
                <key>spriteSourceSize</key>
                <string>{774,879}</string>
                <key>textureRect</key>
                <string>{{777,1},{774,879}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill1_fx06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{774,879}</string>
                <key>spriteSourceSize</key>
                <string>{774,879}</string>
                <key>textureRect</key>
                <string>{{1,882},{774,879}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>skill1_fx07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{774,879}</string>
                <key>spriteSourceSize</key>
                <string>{774,879}</string>
                <key>textureRect</key>
                <string>{{777,882},{774,879}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_skill1-1.png</string>
            <key>size</key>
            <string>{1552,1762}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:abaccc643e9478c8fc371f101313ce55:89c510e45486047aa7e9894080c5add9:3b3d5eda2c75a855218d54e315bd1739$</string>
            <key>textureFileName</key>
            <string>fx_skill1-1.png</string>
        </dict>
    </dict>
</plist>
