<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{254,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{507,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{760,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{1013,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{1266,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1518,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6fc45b427788989fbf726a9483c65006:47ad5758dd0f02435c4993a57c9612e2:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
