<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{254,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{507,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{760,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>minning.png</string>
            <key>size</key>
            <string>{1012,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0d6cf891e02ff85e993aa74397a8c53f:1b34434e13dbdd5a91531adf3b3d8715:236c37881aa41862faf73ba6260c013a$</string>
            <key>textureFileName</key>
            <string>minning.png</string>
        </dict>
    </dict>
</plist>
