<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{1,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{254,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{507,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{760,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{1013,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{251,251}</string>
                <key>spriteSourceSize</key>
                <string>{251,251}</string>
                <key>textureRect</key>
                <string>{{1266,1},{251,251}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1518,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4fbcc65357eba825f949e95f2439ae7:67f30295095518c01718ee164fa822eb:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
