<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SKILL1_Anim_MonkeyKing04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,1},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SKILL1_Anim_MonkeyKing05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{703,1},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SKILL1_Anim_MonkeyKing06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{1,703},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SKILL1_Anim_MonkeyKing07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{700,700}</string>
                <key>spriteSourceSize</key>
                <string>{700,700}</string>
                <key>textureRect</key>
                <string>{{703,703},{700,700}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill1-1.png</string>
            <key>size</key>
            <string>{1404,1404}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd5dcb817f55421ebdbc39015490ced6:68dfc15c80d163b9896aef6f738c7825:21cf6e549acddeec64dab5110e6beff7$</string>
            <key>textureFileName</key>
            <string>skill1-1.png</string>
        </dict>
    </dict>
</plist>
