<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,191}</string>
                <key>spriteSourceSize</key>
                <string>{192,191}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,191}</string>
                <key>spriteSourceSize</key>
                <string>{192,191}</string>
                <key>textureRect</key>
                <string>{{195,1},{192,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,191}</string>
                <key>spriteSourceSize</key>
                <string>{192,191}</string>
                <key>textureRect</key>
                <string>{{389,1},{192,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,191}</string>
                <key>spriteSourceSize</key>
                <string>{192,191}</string>
                <key>textureRect</key>
                <string>{{583,1},{192,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{776,193}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03e0ca24807a18c1f16e6bb16e58d263:987848b7187fdd074ab92420758ddeee:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
