<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{0,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{348,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{696,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{0,347},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{348,347},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{696,347},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chop.png</string>
            <key>size</key>
            <string>{1044,694}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f985b549ee08fcb35ee50ebac9292fb5:962f6b697ce4ddfd6f378ac0b5397538:4c96d2203ac0f371d44083648ab1439c$</string>
            <key>textureFileName</key>
            <string>chop.png</string>
        </dict>
    </dict>
</plist>
