<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{0,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{348,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rocket02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{696,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_bullet.png</string>
            <key>size</key>
            <string>{1044,347}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e299b8b47a59a743b3eaf9d63e93f045:7f272d1f9cedf4ae9e73fb0853d3e989:be4fb6481dcb687e3d043f9a0edfff43$</string>
            <key>textureFileName</key>
            <string>fx_bullet.png</string>
        </dict>
    </dict>
</plist>
