<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion01_00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{0,0},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion01_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{64,0},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion01_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{128,0},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion01_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{192,0},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion01_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{256,0},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>explosion01_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{64,60}</string>
                <key>spriteSourceSize</key>
                <string>{64,60}</string>
                <key>textureRect</key>
                <string>{{320,0},{64,60}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_impact.png</string>
            <key>size</key>
            <string>{384,60}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f77333b53123391d180fc74187f9ebb6:93b28b4aec52c3ecfc705f1a7c852b0c:c3dd2aa8d33a567bb6fa0bab60064b1d$</string>
            <key>textureFileName</key>
            <string>fx_impact.png</string>
        </dict>
    </dict>
</plist>
