<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{0,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{348,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{696,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{1044,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{348,347}</string>
                <key>spriteSourceSize</key>
                <string>{348,347}</string>
                <key>textureRect</key>
                <string>{{1392,0},{348,347}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1740,347}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a0d62c510979a543af51a8ea2f9f96c:d0aa215138a6d9ed60e93753f3fce999:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
