<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{451,1},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{901,1},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{1351,1},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{1,450},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{451,450},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{901,450},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{1351,450},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{1800,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:10a6efec4006605a1315120682580ed8:b7b2a9dddde1c2f46620fa35fcb555b9:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
