<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,1},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{131,1},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{261,1},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,130},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{131,130},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{261,130},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{1,259},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,127}</string>
                <key>spriteSourceSize</key>
                <string>{128,127}</string>
                <key>textureRect</key>
                <string>{{131,259},{128,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mining.png</string>
            <key>size</key>
            <string>{390,387}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14df1f8f35ef0bafd656f8b89c397c89:0d2c4eee8c04c32970835b0eb210edcb:a56d01ac4d20a0c035b843dfe409fad1$</string>
            <key>textureFileName</key>
            <string>mining.png</string>
        </dict>
    </dict>
</plist>
