<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fire_Start00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{0,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{168,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{336,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{504,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{672,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{840,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1008,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1176,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1344,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1512,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1680,0},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{0,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{168,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{336,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{504,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{672,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{840,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1008,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1176,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1344,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1512,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fire_Start35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,200}</string>
                <key>spriteSourceSize</key>
                <string>{168,200}</string>
                <key>textureRect</key>
                <string>{{1680,200},{168,200}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>appear_fire.png</string>
            <key>size</key>
            <string>{1848,400}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f83713831949ec3c76fafda33083386:bad3d826260fddebd2ae631599458f65:5085bb91d51a8d82a9ccbbc7668dd695$</string>
            <key>textureFileName</key>
            <string>appear_fire.png</string>
        </dict>
    </dict>
</plist>
