<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{1,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>102.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{139,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>104.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{277,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>106.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{415,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>108.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{553,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{691,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>112.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{829,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{967,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>116.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{1105,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>118.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{136,104}</string>
                <key>spriteSourceSize</key>
                <string>{136,104}</string>
                <key>textureRect</key>
                <string>{{1243,1},{136,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fire_cam.png</string>
            <key>size</key>
            <string>{1380,106}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c59f09330a27095bcec28d55e34d416e:4162f8b6258f7378bacf39ce1edb1c40:5ee779062467123012ad0c3a85d603ae$</string>
            <key>textureFileName</key>
            <string>fire_cam.png</string>
        </dict>
    </dict>
</plist>
