<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{480,0},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{960,0},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{1440,0},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{0,540},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0006 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{480,540},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{960,540},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_player1_attack_start_op2.png</string>
            <key>size</key>
            <string>{1920,1080}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8025953e5f64d7d5ff33906d601c50b:ae09e9b0a1b6f3c964bf54ceffece33e:5a9805d77172166515242ddad9c978cf$</string>
            <key>textureFileName</key>
            <string>hero_player1_attack_start_op2.png</string>
        </dict>
    </dict>
</plist>
