<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0001 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{0,0},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0002 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{480,0},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0003 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{960,0},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0004 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{1440,0},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0005 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{0,540},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0007 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{480,540},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0009 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{960,540},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0011 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{1440,540},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0013 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{0,1080},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0015 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{480,540}</string>
                <key>spriteSourceSize</key>
                <string>{480,540}</string>
                <key>textureRect</key>
                <string>{{480,1080},{480,540}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hero_player7_attack_impact.png</string>
            <key>size</key>
            <string>{1920,1620}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09551784a859af1a3857435189503f6:27ff35be5562ae38681d37a15eb9e662:86d5444ec8c09234de7d77bf680ee4a0$</string>
            <key>textureFileName</key>
            <string>hero_player7_attack_impact.png</string>
        </dict>
    </dict>
</plist>
