<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0646 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{0,0},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0648 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{370,0},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0649 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{740,0},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0650 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{1110,0},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0651 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{1480,0},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0652 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{0,360},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0653 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{370,360},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0654 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{740,360},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0655 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{1110,360},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>0656 shot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{370,360}</string>
                <key>spriteSourceSize</key>
                <string>{370,360}</string>
                <key>textureRect</key>
                <string>{{1480,360},{370,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>levelUP.png</string>
            <key>size</key>
            <string>{1850,720}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:334bceb5787ed6a74d2b7c4ead30fcfd:80ca3e220a1aac18ea4baa7868c1c8ca:cb45de5a302ab661dbd67814fd2445f3$</string>
            <key>textureFileName</key>
            <string>levelUP.png</string>
        </dict>
    </dict>
</plist>
