<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(7)00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{0,0},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{308,0},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{616,0},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{924,0},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{1232,0},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{1540,0},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{0,461},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{308,461},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{616,461},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{924,461},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{1232,461},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{1540,461},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{0,922},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{308,922},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{616,922},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{924,922},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{1232,922},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>1(7)17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,461}</string>
                <key>spriteSourceSize</key>
                <string>{308,461}</string>
                <key>textureRect</key>
                <string>{{1540,922},{308,461}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>tele.xuathien.png</string>
            <key>size</key>
            <string>{1848,1383}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:48170edfee49764911e5f0283d6c1bdf:e126f9eef866a16ce3de231aa8ed5ebe:2b789d3c598c7c51ac7770f344b1b408$</string>
            <key>textureFileName</key>
            <string>tele.xuathien.png</string>
        </dict>
    </dict>
</plist>
