<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>death01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,0},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,147},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,294},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,441},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,588},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,735},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,882},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,1029},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,1176},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,1323},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>death11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{128,147}</string>
                <key>spriteSourceSize</key>
                <string>{128,147}</string>
                <key>textureRect</key>
                <string>{{0,1470},{128,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>death.png</string>
            <key>size</key>
            <string>{128,1617}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:07c58b7eebed787841336e896ec115d7:f7ab85d0a5aabc12a35296bcae20d800:93e1a4172adad0416fcc4262b4b74fcf$</string>
            <key>textureFileName</key>
            <string>death.png</string>
        </dict>
    </dict>
</plist>
