<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{311,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{621,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{931,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{1241,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{1551,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atk.png</string>
            <key>size</key>
            <string>{1860,330}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940f19e3e8fc63fc4a7f01e2420edcf5:8dfc799a2ce2ee9a52a97c7870f4e625:161bb8e8e5d13d624c660b9bcb3183a7$</string>
            <key>textureFileName</key>
            <string>atk.png</string>
        </dict>
    </dict>
</plist>
