<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{1,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{311,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{621,1},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{1,331},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{311,331},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{621,331},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{1,661},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{308,328}</string>
                <key>spriteSourceSize</key>
                <string>{308,328}</string>
                <key>textureRect</key>
                <string>{{311,661},{308,328}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_2.png</string>
            <key>size</key>
            <string>{930,990}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fef74fb696b88dc9203f574e96620763:e1c159d6084c5e40a33a44833141fedc:5ff11111d140eb2fdbfaeefe95d1a490$</string>
            <key>textureFileName</key>
            <string>skill_2.png</string>
        </dict>
    </dict>
</plist>
