<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>con ho mat day101.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{193,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day107.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{289,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day114.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{385,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day119.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{481,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{97,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{577,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day126.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{673,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day127.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{673,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day132.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{769,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day137.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{1,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day138.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{97,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day143.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{193,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day144.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{289,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day149.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{385,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day155.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{481,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day162.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{577,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day168.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{673,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day174.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{769,775},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{193,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{289,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{385,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{481,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{577,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{673,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{769,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{1,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{97,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{193,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{289,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day72.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{385,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day78.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{481,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day79.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{577,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day84.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{673,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day90.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{769,259},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day91.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{1,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>con ho mat day96.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,256}</string>
                <key>spriteSourceSize</key>
                <string>{94,256}</string>
                <key>textureRect</key>
                <string>{{97,517},{94,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill_fx.png</string>
            <key>size</key>
            <string>{864,1032}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a25b95fcffc99b6074f063aec07f8c8:b1fd6374a5d1aca0ad5ea2d626213253:d1ccbabd2d3d46b1d471e9cb53874fda$</string>
            <key>textureFileName</key>
            <string>skill_fx.png</string>
        </dict>
    </dict>
</plist>
