<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,617}</string>
                <key>spriteSourceSize</key>
                <string>{574,617}</string>
                <key>textureRect</key>
                <string>{{0,0},{574,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,617}</string>
                <key>spriteSourceSize</key>
                <string>{574,617}</string>
                <key>textureRect</key>
                <string>{{574,0},{574,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,617}</string>
                <key>spriteSourceSize</key>
                <string>{574,617}</string>
                <key>textureRect</key>
                <string>{{0,617},{574,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{574,617}</string>
                <key>spriteSourceSize</key>
                <string>{574,617}</string>
                <key>textureRect</key>
                <string>{{574,617},{574,617}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_datvang.png</string>
            <key>size</key>
            <string>{1148,1234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:22fc30157892615b9300aa8bcad40910:d19efb91db0a109c0146c8dc13ea1414:b2fe52258a1d148fb7c0010b2fe61586$</string>
            <key>textureFileName</key>
            <string>fx_datvang.png</string>
        </dict>
    </dict>
</plist>
