<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,193}</string>
                <key>spriteSourceSize</key>
                <string>{187,193}</string>
                <key>textureRect</key>
                <string>{{1,1},{187,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,193}</string>
                <key>spriteSourceSize</key>
                <string>{187,193}</string>
                <key>textureRect</key>
                <string>{{190,1},{187,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,193}</string>
                <key>spriteSourceSize</key>
                <string>{187,193}</string>
                <key>textureRect</key>
                <string>{{379,1},{187,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{187,193}</string>
                <key>spriteSourceSize</key>
                <string>{187,193}</string>
                <key>textureRect</key>
                <string>{{568,1},{187,193}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gacha.png</string>
            <key>size</key>
            <string>{756,195}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:872bbac319a5e08f000f2eae60826705:267e5b40b58530fcd1661648d462c5c7:0ee78ab6ba4799a2aaa099e0fb0ca202$</string>
            <key>textureFileName</key>
            <string>gacha.png</string>
        </dict>
    </dict>
</plist>
