<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f040-f050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{660,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f090_(loop_f1).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{770,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f100_(loop_f2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{880,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f110_(loop_f3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{990,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{1100,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f140-f230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{1210,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f150-f220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{1320,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f160-f210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{1430,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f170-f200.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{1540,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f180-f190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{1650,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atk.png</string>
            <key>size</key>
            <string>{1760,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b236b499e52e43478b3cd46f4f2247d6:05ab73ace2234802b26e47b91ba1815f:161bb8e8e5d13d624c660b9bcb3183a7$</string>
            <key>textureFileName</key>
            <string>atk.png</string>
        </dict>
    </dict>
</plist>
