<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f010-f020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f070-f080.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f100.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f120.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{660,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f2273f6c3f287e073f94b4a52f6cce0d:a874c8fb5ee48a740fb624f3daff96ae:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
