<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>f010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{0,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{110,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f030.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{220,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f040.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{330,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{440,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>f060.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,101}</string>
                <key>spriteSourceSize</key>
                <string>{110,101}</string>
                <key>textureRect</key>
                <string>{{550,0},{110,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{660,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8cc6a36f6d56e909c5f2f0de222e556d:d9a2f8e63fa5974a819832be25962023:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
