<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>move00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{1,1},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{451,1},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{901,1},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{1351,1},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{1,450},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{451,450},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{901,450},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>move07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,447}</string>
                <key>spriteSourceSize</key>
                <string>{448,447}</string>
                <key>textureRect</key>
                <string>{{1351,450},{448,447}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1800,898}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aec17da8950966336717ea2deab93a11:775604dde6282482a462164be42c9ce5:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
