<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_down01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1,1},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_down02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{697,1},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_down03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1393,1},{694,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_down04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1,488},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_down05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{697,488},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_down06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1393,697},{694,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_down07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1,975},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_down08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{697,975},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_down09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1,1462},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_down10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{697,1462},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atk_down.png</string>
            <key>size</key>
            <string>{1879,1948}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:08083d469eb085e87d6ef12d850dc20a:95efec0c3bcee943cfd767a38cecc548:26306e70d82e992589dd535525bb1853$</string>
            <key>textureFileName</key>
            <string>atk_down.png</string>
        </dict>
    </dict>
</plist>
