<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>atk_big01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1,1},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_big02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{697,1},{694,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_big03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1,488},{694,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_big04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{488,697},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_big05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1184,1},{694,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_big06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1184,697},{694,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_big07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1,1184},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>atk_big08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{697,1184},{694,485}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>atk_big09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{694,485}</string>
                <key>spriteSourceSize</key>
                <string>{694,485}</string>
                <key>textureRect</key>
                <string>{{1184,1393},{694,485}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atk_big.png</string>
            <key>size</key>
            <string>{1879,1879}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:35617449d309871787e3cedd8bc2d4be:c689c86cb3ef483377c915142ebb35eb:07ed958c95feed4b37394e747cc9bffb$</string>
            <key>textureFileName</key>
            <string>atk_big.png</string>
        </dict>
    </dict>
</plist>
