<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(10).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{0,161},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{160,161},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{320,161},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{0,322},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,161}</string>
                <key>spriteSourceSize</key>
                <string>{160,161}</string>
                <key>textureRect</key>
                <string>{{160,322},{160,161}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atk.png</string>
            <key>size</key>
            <string>{480,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:16a36b7891390c2060db73939a68e885:05b94e2633f4ee0632e342b7278a02db:161bb8e8e5d13d624c660b9bcb3183a7$</string>
            <key>textureFileName</key>
            <string>atk.png</string>
        </dict>
    </dict>
</plist>
