<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WWJ_atk_1_ep00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,198}</string>
                <key>spriteSourceSize</key>
                <string>{131,198}</string>
                <key>textureRect</key>
                <string>{{0,0},{131,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_atk_1_ep01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,198}</string>
                <key>spriteSourceSize</key>
                <string>{131,198}</string>
                <key>textureRect</key>
                <string>{{131,0},{131,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_atk_1_ep02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,198}</string>
                <key>spriteSourceSize</key>
                <string>{131,198}</string>
                <key>textureRect</key>
                <string>{{262,0},{131,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_atk_1_ep04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,198}</string>
                <key>spriteSourceSize</key>
                <string>{131,198}</string>
                <key>textureRect</key>
                <string>{{393,0},{131,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_atk_1_ep05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,198}</string>
                <key>spriteSourceSize</key>
                <string>{131,198}</string>
                <key>textureRect</key>
                <string>{{524,0},{131,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_atk_1_ep06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,198}</string>
                <key>spriteSourceSize</key>
                <string>{131,198}</string>
                <key>textureRect</key>
                <string>{{655,0},{131,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>atk.png</string>
            <key>size</key>
            <string>{786,198}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bf17875256a224ea5f037bf3da4888c6:1cc5303a84891ca57fe1b2cb8e2ccdb5:161bb8e8e5d13d624c660b9bcb3183a7$</string>
            <key>textureFileName</key>
            <string>atk.png</string>
        </dict>
    </dict>
</plist>
