<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WWJ_idle_ep01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,159}</string>
                <key>textureRect</key>
                <string>{{0,0},{160,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_idle_ep02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,159}</string>
                <key>textureRect</key>
                <string>{{160,0},{160,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_idle_ep03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,159}</string>
                <key>textureRect</key>
                <string>{{320,0},{160,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_idle_ep04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,159}</string>
                <key>textureRect</key>
                <string>{{480,0},{160,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_idle_ep05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,159}</string>
                <key>textureRect</key>
                <string>{{640,0},{160,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WWJ_idle_ep06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{160,159}</string>
                <key>spriteSourceSize</key>
                <string>{160,159}</string>
                <key>textureRect</key>
                <string>{{800,0},{160,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{960,159}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31ec268ccbf66d502ede920627567bac:07a862cac5c0d6681bfc0a2e6c1b555f:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
