<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>_0000_WW_move_6_0000__0000_WW_move_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,159}</string>
                <key>spriteSourceSize</key>
                <string>{105,159}</string>
                <key>textureRect</key>
                <string>{{0,0},{105,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000_WW_move_6_0001__0001_WW_move_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,159}</string>
                <key>spriteSourceSize</key>
                <string>{105,159}</string>
                <key>textureRect</key>
                <string>{{0,159},{105,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000_WW_move_6_0002__0002_WW_move_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,159}</string>
                <key>spriteSourceSize</key>
                <string>{105,159}</string>
                <key>textureRect</key>
                <string>{{0,318},{105,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000_WW_move_6_0003__0003_WW_move_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,159}</string>
                <key>spriteSourceSize</key>
                <string>{105,159}</string>
                <key>textureRect</key>
                <string>{{0,477},{105,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000_WW_move_6_0004__0004_WW_move_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,159}</string>
                <key>spriteSourceSize</key>
                <string>{105,159}</string>
                <key>textureRect</key>
                <string>{{0,636},{105,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>_0000_WW_move_6_0005__0005_WW_move_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{105,159}</string>
                <key>spriteSourceSize</key>
                <string>{105,159}</string>
                <key>textureRect</key>
                <string>{{0,795},{105,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{105,954}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc9d3a71c108736b72b4849d4dad2f17:4f32fd47aa486d695bde182cf1a38d2d:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
