<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,279}</string>
                <key>spriteSourceSize</key>
                <string>{268,279}</string>
                <key>textureRect</key>
                <string>{{0,0},{268,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,279}</string>
                <key>spriteSourceSize</key>
                <string>{268,279}</string>
                <key>textureRect</key>
                <string>{{268,0},{268,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,279}</string>
                <key>spriteSourceSize</key>
                <string>{268,279}</string>
                <key>textureRect</key>
                <string>{{536,0},{268,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,279}</string>
                <key>spriteSourceSize</key>
                <string>{268,279}</string>
                <key>textureRect</key>
                <string>{{804,0},{268,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,279}</string>
                <key>spriteSourceSize</key>
                <string>{268,279}</string>
                <key>textureRect</key>
                <string>{{1072,0},{268,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,279}</string>
                <key>spriteSourceSize</key>
                <string>{268,279}</string>
                <key>textureRect</key>
                <string>{{1340,0},{268,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1608,279}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37e5e39377c875ea3445536fd9914adf:aa9200a5f067ce21a546ca498447bf7b:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
