<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,427}</string>
                <key>spriteSourceSize</key>
                <string>{582,427}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,427}</string>
                <key>spriteSourceSize</key>
                <string>{582,427}</string>
                <key>textureRect</key>
                <string>{{585,1},{582,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{582,427}</string>
                <key>spriteSourceSize</key>
                <string>{582,427}</string>
                <key>textureRect</key>
                <string>{{1169,1},{582,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_skill1_loop.png</string>
            <key>size</key>
            <string>{1752,429}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38b7cd2c4a88c99feb4cd2b370894261:4bbc483f05258ead156a9b6e8b845f0a:a7a212d683b97c8abd809b9440eceedc$</string>
            <key>textureFileName</key>
            <string>fx_skill1_loop.png</string>
        </dict>
    </dict>
</plist>
