<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,1},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{431,1},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{431,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,859},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{860,1287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:38634b5d5923dee8a09e5a68ec6036c8:b10ba163f5c6e341e6193ca74093db9f:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
