<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,1},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{431,1},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{431,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,859},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{860,1287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45d8f984d51d417546635283a1609f4d:0a5c8464221e726b9cca6be35f703c0e:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
