<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,1},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{431,1},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{861,1},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{431,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{861,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{431,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{861,430},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loop_10(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{1,859},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loop_11(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{431,859},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>loop_12(4).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,427}</string>
                <key>spriteSourceSize</key>
                <string>{428,427}</string>
                <key>textureRect</key>
                <string>{{861,859},{428,427}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill1.png</string>
            <key>size</key>
            <string>{1290,1287}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70c1e1eca8876abc66243656358fe7bb:04714eb46be83849fb36b1d4e22eee63:ec55d2929b7c7cda108becbb2abc9d8d$</string>
            <key>textureFileName</key>
            <string>skill1.png</string>
        </dict>
    </dict>
</plist>
