<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>base_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,91}</string>
                <key>spriteSourceSize</key>
                <string>{159,91}</string>
                <key>textureRect</key>
                <string>{{1,1},{159,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,91}</string>
                <key>spriteSourceSize</key>
                <string>{159,91}</string>
                <key>textureRect</key>
                <string>{{162,1},{159,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,91}</string>
                <key>spriteSourceSize</key>
                <string>{159,91}</string>
                <key>textureRect</key>
                <string>{{323,1},{159,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>base_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,91}</string>
                <key>spriteSourceSize</key>
                <string>{159,91}</string>
                <key>textureRect</key>
                <string>{{484,1},{159,91}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>base.png</string>
            <key>size</key>
            <string>{644,93}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:329bcf4f1c8b6e8a3ac6f928498b5dc1:674add14e1888b964af0f03d577dcb9d:401c17bbbff7ec4d72e526f50b04f8bf$</string>
            <key>textureFileName</key>
            <string>base.png</string>
        </dict>
    </dict>
</plist>
