<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>idle00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{248,247}</string>
                <key>textureRect</key>
                <string>{{1,1},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{248,247}</string>
                <key>textureRect</key>
                <string>{{251,1},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{248,247}</string>
                <key>textureRect</key>
                <string>{{501,1},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{248,247}</string>
                <key>textureRect</key>
                <string>{{751,1},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{248,247}</string>
                <key>textureRect</key>
                <string>{{1001,1},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>idle05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{248,247}</string>
                <key>spriteSourceSize</key>
                <string>{248,247}</string>
                <key>textureRect</key>
                <string>{{1251,1},{248,247}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>idle.png</string>
            <key>size</key>
            <string>{1500,249}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:28bc109e4e40e50f0643fde8f2a54318:e7801df21e2761440baf829e3f7bd37f:917f08b16c21adbead6303a7c10c595b$</string>
            <key>textureFileName</key>
            <string>idle.png</string>
        </dict>
    </dict>
</plist>
