<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(11).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{141,1},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{281,1},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{1,162},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{141,162},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{281,162},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{1,323},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{141,323},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chop.png</string>
            <key>size</key>
            <string>{420,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:26eee32e20a3d1fadb5219b0df3af836:005eb49926945c729a979884f4eb84bb:4c96d2203ac0f371d44083648ab1439c$</string>
            <key>textureFileName</key>
            <string>chop.png</string>
        </dict>
    </dict>
</plist>
