<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{1,1},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{141,1},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{281,1},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{1,162},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(5).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{141,162},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{281,162},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{1,323},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>8(2).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,159}</string>
                <key>spriteSourceSize</key>
                <string>{138,159}</string>
                <key>textureRect</key>
                <string>{{141,323},{138,159}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>mining.png</string>
            <key>size</key>
            <string>{420,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1dc51e3d3ff0384a7caf69e6b766086:68d1e72cc67c620962d2afc3822244b3:a56d01ac4d20a0c035b843dfe409fad1$</string>
            <key>textureFileName</key>
            <string>mining.png</string>
        </dict>
    </dict>
</plist>
