<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{195,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{389,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{583,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{777,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(3).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{971,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{1164,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d85a7802b170eda1ac9b9218488fca78:5b67d91090e0e2ab9ccec51f7dcc6f3b:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
