<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{1,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{195,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>3(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{389,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4(9).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{583,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{777,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>6(6).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{192,201}</string>
                <key>spriteSourceSize</key>
                <string>{192,201}</string>
                <key>textureRect</key>
                <string>{{971,1},{192,201}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill1.png</string>
            <key>size</key>
            <string>{1164,203}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6ba7188ea10f760659b34fccee424eb4:b4232eddc0fd48f80b24c613e4a124e4:ec55d2929b7c7cda108becbb2abc9d8d$</string>
            <key>textureFileName</key>
            <string>skill1.png</string>
        </dict>
    </dict>
</plist>
