<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Layer 11 copy.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{172,177}</string>
                <key>spriteSourceSize</key>
                <string>{172,177}</string>
                <key>textureRect</key>
                <string>{{263,362},{172,177}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>armor_lv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,142}</string>
                <key>spriteSourceSize</key>
                <string>{155,142}</string>
                <key>textureRect</key>
                <string>{{1,1},{155,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axe_lv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,168}</string>
                <key>spriteSourceSize</key>
                <string>{125,168}</string>
                <key>textureRect</key>
                <string>{{158,1},{125,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>axe_lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{152,172}</string>
                <key>spriteSourceSize</key>
                <string>{152,172}</string>
                <key>textureRect</key>
                <string>{{285,1},{152,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bow_lv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{159,166}</string>
                <key>spriteSourceSize</key>
                <string>{159,166}</string>
                <key>textureRect</key>
                <string>{{1,175},{159,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bow_lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{180,185}</string>
                <key>spriteSourceSize</key>
                <string>{180,185}</string>
                <key>textureRect</key>
                <string>{{162,175},{180,185}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>exotic_weapon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,174}</string>
                <key>spriteSourceSize</key>
                <string>{166,174}</string>
                <key>textureRect</key>
                <string>{{344,175},{166,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hat_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,156}</string>
                <key>spriteSourceSize</key>
                <string>{110,156}</string>
                <key>textureRect</key>
                <string>{{1,362},{110,156}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hat_lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,170}</string>
                <key>spriteSourceSize</key>
                <string>{148,170}</string>
                <key>textureRect</key>
                <string>{{113,362},{148,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield_lv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,163}</string>
                <key>spriteSourceSize</key>
                <string>{144,163}</string>
                <key>textureRect</key>
                <string>{{1,541},{144,163}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shield_lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{162,174}</string>
                <key>spriteSourceSize</key>
                <string>{162,174}</string>
                <key>textureRect</key>
                <string>{{147,541},{162,174}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoes_lv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{124,144}</string>
                <key>spriteSourceSize</key>
                <string>{124,144}</string>
                <key>textureRect</key>
                <string>{{311,541},{124,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>shoes_lv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,149}</string>
                <key>spriteSourceSize</key>
                <string>{129,149}</string>
                <key>textureRect</key>
                <string>{{1,717},{129,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_lv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,146}</string>
                <key>spriteSourceSize</key>
                <string>{142,146}</string>
                <key>textureRect</key>
                <string>{{132,717},{142,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_lv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,153}</string>
                <key>spriteSourceSize</key>
                <string>{148,153}</string>
                <key>textureRect</key>
                <string>{{276,717},{148,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_lv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,154}</string>
                <key>spriteSourceSize</key>
                <string>{149,154}</string>
                <key>textureRect</key>
                <string>{{1,872},{149,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_lv5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{156,162}</string>
                <key>spriteSourceSize</key>
                <string>{156,162}</string>
                <key>textureRect</key>
                <string>{{152,872},{156,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spear_lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{163,170}</string>
                <key>spriteSourceSize</key>
                <string>{163,170}</string>
                <key>textureRect</key>
                <string>{{310,872},{163,170}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>staff_lv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,171}</string>
                <key>spriteSourceSize</key>
                <string>{164,171}</string>
                <key>textureRect</key>
                <string>{{1,1044},{164,171}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>staff_lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{174,181}</string>
                <key>spriteSourceSize</key>
                <string>{174,181}</string>
                <key>textureRect</key>
                <string>{{167,1044},{174,181}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_lv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,149}</string>
                <key>spriteSourceSize</key>
                <string>{141,149}</string>
                <key>textureRect</key>
                <string>{{343,1044},{141,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_lv5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,155}</string>
                <key>spriteSourceSize</key>
                <string>{148,155}</string>
                <key>textureRect</key>
                <string>{{1,1227},{148,155}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,153}</string>
                <key>spriteSourceSize</key>
                <string>{148,153}</string>
                <key>textureRect</key>
                <string>{{151,1227},{148,153}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trousers_lv1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{144,136}</string>
                <key>textureRect</key>
                <string>{{301,1227},{144,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trousers_lv3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{151,138}</string>
                <key>spriteSourceSize</key>
                <string>{151,138}</string>
                <key>textureRect</key>
                <string>{{1,1384},{151,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trousers_lv4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,143}</string>
                <key>spriteSourceSize</key>
                <string>{165,143}</string>
                <key>textureRect</key>
                <string>{{154,1384},{165,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>trousers_lv6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{175,160}</string>
                <key>spriteSourceSize</key>
                <string>{175,160}</string>
                <key>textureRect</key>
                <string>{{321,1384},{175,160}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>item.png</string>
            <key>size</key>
            <string>{511,1545}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:940ac7ed664ddd8a1f50b86fa14a385f:8b5d51049e608a43cdce40d9f480980d:59939a4a587d378f0fcbb69f55d845d5$</string>
            <key>textureFileName</key>
            <string>item.png</string>
        </dict>
    </dict>
</plist>
