<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>char_Kazetsu_anim_move2_1(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,69}</string>
                <key>textureRect</key>
                <string>{{0,0},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_Kazetsu_anim_move2_2(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,69}</string>
                <key>textureRect</key>
                <string>{{0,69},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_Kazetsu_anim_move2_3(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,69}</string>
                <key>textureRect</key>
                <string>{{0,138},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char_Kazetsu_anim_move2_4(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,69}</string>
                <key>spriteSourceSize</key>
                <string>{47,69}</string>
                <key>textureRect</key>
                <string>{{0,207},{47,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>move.png</string>
            <key>size</key>
            <string>{47,276}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4e00e5f0f7054cc6bb45fb8be323312:c949c9814cdfc195af9327fe4f483eb5:96d775c9b5696ec9c507968cfb58bf58$</string>
            <key>textureFileName</key>
            <string>move.png</string>
        </dict>
    </dict>
</plist>
