<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chars_Kazetsu_anim_Skill2_B_1(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{112,107}</string>
                <key>textureRect</key>
                <string>{{1,1},{112,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chars_Kazetsu_anim_Skill2_B_2(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{112,107}</string>
                <key>textureRect</key>
                <string>{{115,1},{112,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chars_Kazetsu_anim_Skill2_B_3(7).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{112,107}</string>
                <key>textureRect</key>
                <string>{{229,1},{112,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chars_Kazetsu_anim_Skill2_B_4(8).png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{112,107}</string>
                <key>spriteSourceSize</key>
                <string>{112,107}</string>
                <key>textureRect</key>
                <string>{{343,1},{112,107}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>skill2_impact.png</string>
            <key>size</key>
            <string>{456,109}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd0f3e2521fa09a779835fae3dd520d9:0f969ed480e6e69025c5723316c1be8c:388e00d3ac62280e7a0ca26fc5dc53ed$</string>
            <key>textureFileName</key>
            <string>skill2_impact.png</string>
        </dict>
    </dict>
</plist>
